---
layout: page
---
<div class="home">
	{% for post in site.posts %}						
		{% capture currPostDate %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nextPostDate %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		
		{% if currPostDate != nextPostDate %}
				</ul>
				<h2>Year {{ currPostDate }}</h2>
				<ul>
		{% endif %}
		
			<li><h4>{{ post.date | date: "%b %d" }}&nbsp;&nbsp;<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4></li>
		
	{% endfor %}
</div>
