<header class="site-header">
	<div class="wrapper">
		<a class="site-title" href="{{ site.baseurl }}/"><i class="fa fa-cube fa-lg">&nbsp;&nbsp;</i>{{ site.title }}</a>	
{% comment %}
		<nav class="site-nav">
			<div class="trigger">
			{% for page in site.pages %}
				{% if page.title %}
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
			{% endfor %}
			</div>
		</nav>
{% endcomment %}
	</div>
	<div class="wrapper">
		<p class="text">{{ site.description }}</p>
	</div>
	<div class="wrapper">
		<ul class="site-contact">
            <li><i class="fa fa-user fa-lg"></i>&nbsp;<a class="site-contact" href="{{ site.baseurl }}/about.html">My CV</a></li>
			<li>|</li>
			<li><i class="fa fa-twitter fa-lg"></i>&nbsp;<a target="_blank" class="site-contact" href="https://twitter.com/eshepelyuk">Twitter</a></li>
			<li>|</li>
			<li><i class="fa fa-github fa-lg"></i>&nbsp;<a target="_blank" class="site-contact" href="https://github.com/eshepelyuk">GitHub</a></li>
			<li>|</li>
			<li><i class="fa fa-linkedin fa-lg"></i>&nbsp;<a target="_blank" class="site-contact" href="https://www.linkedin.com/in/evgenyshepelyuk">LinkedIn</a></li>
			<li>|</li>
            <li><i class="fa fa-rss fa-lg text-error"></i>&nbsp;<a target="_blank" class="site-contact" href="{{ site.baseurl }}/feed.xml">RSS</a></li>
		</ul>
	</div>
</header>
